

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/bienvenue"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-center" color="danger">EasyLocation</ion-title>
  </ion-toolbar>


  <ion-list>
    <ion-item routerLink="/user-info">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label class="ion-margin-start">
        <ion-text>
          Mes informations
        </ion-text>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>


    <ion-item>
      <ion-icon name="image-outline" slot="start"></ion-icon>
        <ion-label class="ion-margin-start">
        <ion-text>
          Mes appartement 
        </ion-text>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>


    <ion-item>
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label class="ion-margin-start">
        <ion-text>
          Paramétres
        </ion-text>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
       <ion-label class="ion-margin-start">
        <ion-text>
          Déconnexion
        </ion-text>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>

  </ion-list>








</ion-content>
