<ion-content [fullscreen]="true">
  <!-- Toolbar with a menu button and title -->
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title color="danger" size="large">EasyLocation</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Search bar -->
  <ion-searchbar placeholder="Rechercher sur EasyLocation"></ion-searchbar>

  <!-- Welcome text -->
  <ion-text class="ion-padding-top">
    <h1>Bienvenue !</h1>
  </ion-text>

  <!-- Latest ads section -->
  <ion-text class="ion-margin-top">
    <h1>Dernières annonces</h1>
  </ion-text>

  <!-- Grid to display ads dynamically from Firestore -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let ad of ads | async">
        <ion-card>
          <ion-button shape="round" size="small" (click)="addToFavoris(ad)" [color]="ad.isFavorite ? 'warning' : 'light'">
            <ion-icon [name]="ad.isFavorite ? 'star' : 'star-outline'"></ion-icon>
          </ion-button>

          <img [src]="ad.imageUrl" (click)="goToDetails(ad.id)" alt="Ad Image" />
          <ion-card-header>
            <ion-card-title>{{ ad.title }}</ion-card-title>
            <ion-card-subtitle>{{ ad.location }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="danger">
              <strong>{{ ad.price }} DT</strong>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Tabs for navigation -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/bienvenue">
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="favoris" (click)="goToFavoris()">
        <ion-icon name="star"></ion-icon>
        <ion-label>Favoris</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profil" routerLink="/profil-locataire">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
