<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="danger">Réinitialisation du mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <ion-label position="floating">Adresse e-mail</ion-label>
  </ion-text>

  <ion-text></ion-text> 
  <div style="height: 10px;"></div>

  <ion-item>
    <ion-input [(ngModel)]="email" type="email" placeholder="Entrez votre e-mail"></ion-input>
  </ion-item>


  <ion-button expand="block" color="danger" (click)="reset()">
    Envoyer le lien de réinitialisation
  </ion-button>
</ion-content>
