.custom-button {
  --background: transparent; /* Fond transparent */
  --color: inherit; /* Couleur du texte et de l'icône */
}

.custom-icon {
  --color: black; /* Définir la couleur des points à noir ou toute autre couleur souhaitée */
}
